{% extends 'base.html' %}

{% block title %}
Admin Reports
{% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('display_admin_dashboard') }}">
                  <svg class="bi"><use xlink:href="#house-fill"/></svg>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('display_admin_orders') }}">
                  <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('display_admin_products') }}">
                  <svg class="bi"><use xlink:href="#cart"/></svg>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{{ url_for('display_admin_reports') }}">
                  <svg class="bi"><use xlink:href="#graph-up"/></svg>
                  Reports
                </a>
              </li>
            </ul>
  
            <hr class="my-3">
  
            <ul class="nav flex-column mb-auto">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
                  Settings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <svg class="bi"><use xlink:href="#door-closed"/></svg>
                  Sign out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class = "table" >
        <h1>Reports</h1>
        <h3>Top Drinks</h3>
        {{ table|safe }}</div>
    </div>
</div>
<style>
  .container-fluid .row {
    justify-content: flex-end;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  
  .container-fluid .row .table {
    border-top: 50px;
    font-size: large;
    text-align: center;
    width: 1540px;
  }
  .container-fluid .row .table h1{
    text-align: left;
  }
  .container-fluid .row .table h3{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .container-fluid .row .table table th{
    text-align: center;
  }
</style>
{% endblock %}