{% extends 'base.html' %}

{% block title %}
Staff Dashboard
{% endblock %}

{% block container %}

<div class="container-fluid">
    <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{{ url_for('display_staff_dashboard') }}">
                  <svg class="bi"><use xlink:href="#house-fill"/></svg>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('display_finished_orders') }}">
                  <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                  Finished Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('display_staff_products') }}">
                  <svg class="bi"><use xlink:href="#cart"/></svg>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <svg class="bi"><use xlink:href="#people"/></svg>
                  Customers
                </a>
              </li>
            </ul>
  
            <hr class="my-3">
  
            <ul class="nav flex-column mb-auto">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
                  Settings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('login') }}">
                  <svg class="bi"><use xlink:href="#door-closed"/></svg>
                  Sign out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
          <div id="orders-container" class="row">

          </div>
        </div>
      </main>
    </div>
</div>

{% endblock %}


{% block script %}

  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script>
    function fetchGuestOrders() 
    {
      $.ajax(
        {
        url: "/get_orders_data",
        type: "GET",
        dataType: "json",
        success: function (data) {
          // Update the guest orders on the page
          updateGuestOrders(data.guest_orders);
        },
        complete: function () {
          // Schedule the next fetch after 5 seconds
          setTimeout(fetchGuestOrders, 5000);
        }
        });
    }

    function updateGuestOrders(guestOrdersJSON) {
      // Parse the JSON string to get an array of guest orders
      var guestOrders = JSON.parse(guestOrdersJSON);

      // Get the orders container element
      var ordersContainer = $('#orders-container');

      // Clear previous content
      ordersContainer.empty();

      // Iterate over each guest order
      guestOrders.forEach(function (order) {
        var orderId = order._id.$oid;

        // Create an HTML string for each order
        var orderHtml =
          '<div class="col-12 col-md-6 col-lg-3 mb-3 mt-3">' +
          '  <div class="card">' +
          '    <div class="card-header">' +
          '      Table: ' + order.table +
          '    </div>';

        // Iterate over each item in the order
        order.order.forEach(function (item) {
          orderHtml +=
            '    <div class="card-body border">' +
            '      <div class="d-flex justify-content-between">' +
            '        <h4 class="card-title">' + item.name + '</h4>' +
            '        <p class="card-text">Quantity: ' + item.quantity + '</p>' +
            '      </div>' +
            '      <p class="card-text">Note: ' + item.note + '</p>' +
            '    </div>';
        });

        // Add the order footer with the button
        orderHtml +=
          '    <div class="card-footer bg-auto">' +
          '      <button class="btn btn-primary btn-block" onclick="sendPatchRequest(\'' + orderId + '\')">Finish</button>' +
          '    </div>' +
          '  </div>' +
          '</div>';

        // Append the order HTML to the container
        ordersContainer.append(orderHtml);
      });
    }

    // Start fetching guest orders when the page is loaded
    $(document).ready(function () {
      fetchGuestOrders();
    });

    // Function to send PATCH request
    function sendPatchRequest(orderId) {
      $.ajax({
        url: '/staff/dashboard',
        type: 'PATCH',
        contentType: 'application/json',
        data: JSON.stringify({ "_id": orderId }),
        success: function (response) {
          // Handle success response
          console.log('PATCH request successful', response);
          fetchGuestOrders();
        },
        error: function (error) {
          // Handle error
          console.error('Error in PATCH request', error);
        }
      });
    }
  </script>

{% endblock %}