{% extends 'base.html' %}

{% block title %}
Products
{% endblock %}

{% block container %}

<div class="container-fluid">
    <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('display_staff_dashboard') }}">
                  <svg class="bi"><use xlink:href="#house-fill"/></svg>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('display_finished_orders') }}">
                  <svg class="bi"><use xlink:href="#file-earmark"/></svg>
                  Finished Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{{ url_for('display_staff_products') }}">
                  <svg class="bi"><use xlink:href="#cart"/></svg>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <svg class="bi"><use xlink:href="#people"/></svg>
                  Customers
                </a>
              </li>
            </ul>
  
            <hr class="my-3">
  
            <ul class="nav flex-column mb-auto">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
                  Settings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('login') }}">
                  <svg class="bi"><use xlink:href="#door-closed"/></svg>
                  Sign out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
          <div id="items-container" class="row">

          </div>
        </div>
      </main>
    </div>
</div>

{% endblock %}

{% block script %}

  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    function fetchMenu()
    {
      $.ajax(
        {
          url: "/get_menu",
          type: "GET",
          dataType: "json",
          success: function (data) {
            updateMenu(data.menu);
          }
        }
      );
    }

    function updateMenu(menuJSON)
    {
      //Parse JSON string to get array of drinks
      var menu = JSON.parse(menuJSON);
      // Get item container element
      var itemContainer = $('#items-container');

      //Clear previous content
      itemContainer.empty();

      menu.forEach(function (drink)
      {
        var itemHtml =
          '<div class="col-12 col-md-6 col-lg-3 mb-3 mt-3">'+
            '<div class="card" style="width: 18rem;">'+
              '<img class="card-img-top" src="' + drink.img_src + '" alt="Card image cap">'+
              '<div class="card-body">'+
                '<h5 class="card-title text-center">' + drink.name + '</h5>'+
                '<p class="card-text text-center">' + drink.price.toLocaleString('en-US')+ '₫' + '</p>'+
              '</div>'+
            '</div>'+
          '</div>';

          // Append item HTML to the container
          itemContainer.append(itemHtml);
      }
      );
    }

    // Start fetching
    $(document).ready(function () {
      fetchMenu();
    }
    );

  </script>
  
{% endblock %}